{% extends 'layout.njk' %}

{% block head %}
    <title>Sobre</title>
{% endblock head %}

{% block content %}
    <div id="wrapper">
        <img src="https://rocketseat.com.br/static/images/logo-rocketseat.svg" alt="Rocketseat logo">
        <h1>Sobre a Rocketseat</h1>
        <img class="rckt" src="https://rocketseat.com.br/static/images/og/rocketseat.png" alt="Rockeseat imagem">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Malesuada fames ac turpis egestas maecenas pharetra. A iaculis at erat pellentesque adipiscing commodo elit at. Enim blandit volutpat maecenas volutpat blandit. Odio pellentesque diam volutpat commodo. Orci a scelerisque purus semper eget. Fermentum et sollicitudin ac orci phasellus egestas tellus rutrum. Velit sed ullamcorper morbi tincidunt ornare massa eget. Id leo in vitae turpis massa sed elementum tempus. Varius morbi enim nunc faucibus a pellentesque sit. Nec ullamcorper sit amet risus nullam eget felis eget nunc. Quis blandit turpis cursus in. Sociis natoque penatibus et magnis dis parturient montes.</p>
    </div>
{% endblock content %}