{% extends 'layout.njk' %}
{% block head %}
    <title>Cursos</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock head %}
{% block content %}
    <section class="cards">
        {% for content in contents %}
        <div class="card" id="{{content.id}}">
            <div class="card_image-container">
                <img src="{{content.logo_url}}" alt="Curso {{content.id}}">
            </div>
            <div class="card_content">
                <h3>{{content.id}}</h3>
            </div>
            <div class="card_info">
                <p>Modulos: {{content.modules}}</p>
                <p class="card_price">{{content.price}}</p>
            </div>
            </div>
        {% endfor %}
        </section>
        <script src="/scripts.js"></script>
    {% endblock content %}
