{% extends 'layout.njk' %}
{% block head %}
    <title>{{content.id}}</title>
{% endblock head %}
{% block content %}
    <section class="content">
            <h1>{{content.id}}</h1>
        <div class="card" id="{{content.id}}">
            <div class="card_content_container ">  
                    <iframe class="iframepage" src="https://rocketseat.com.br/{{content.id}}" frameborder="0"></iframe>
            </div>
            <div class="card_info">

                <p>Modulos: {{content.modules}}</p>
                <p class="card_price">{{content.price}}</p>
            </div>
            </div>
    {% endblock content %}
