{%extends "layout.njk"%}

{%block head%}

    <title>Pagina não econtrada</title>

{% endblock %}

{%block content%}
    <div class="not-found">
        <h1>Pagina não encontrada</h1>
        <p>A pagina solicitada não foi encontrada  <br>
        <h3>404 Not found</h3>
        </p>
    </div>
{% endblock %}
